* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;

}

nav a {
    text-decoration: none;
    color: #888;

}

nav .logo {
    font-size:  20px;
    color: #222;
    font-weight: 600;

}

nav .logo span {
    color: #302cf5;

}

nav .links a {
    padding: 5px 15px;

}

.hero {
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.hero h1 span {
    color: #302cf5;

}

.hero p {
    color: #777;
    text-align: center;
    line-height: 1.5;

}

#plans {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 30px; */
    padding: 10px 10%;


}
.plan {
    flex: 1 0 250px;
    box-shadow: 0 5px 15px 5px #dce5eb;
    height: 350px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
}

.plan .top {
    display: flex;
    gap: 15px;

}

.plan .top figure {
    width: 70px;
    height: 70px;
    background-color: #000;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}

.plan .top figure::before {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    position: absolute;
    top: -15px;
    right: -10px;

}

.plan .top figure::after {
    content: '';
    width: 30px;
    height: 30px;
    background-color: #fff5;
    position: absolute;
    left: -2px;
    bottom: -10px;

}


.plan .top .details p span {
    font-size: 30px;
    font-weight: 500px;

}

.plan .features {
    padding:  20px 0px;

}
.plan .features p {
    padding: 8px 0px;
    color:  #777;
}

.plan button {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #302cf5;
    color: #fff;
    font-size: 18px;
    margin-top: auto;
     
}

.plan .badge {
    background-color: #302cf5;
    color: #fff;
    padding:  5px 15px;
    border-radius: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
    /* align-self: flex-end; */
}

.plan.startup {
    height: 430px;
    position: relative;
    background-color: #1a1c29;
    border: 5px solid white;
    color: #fff;
    padding-top: 30px;
}

.plan.startup .top {
    border-color: #404459;

}

.plan.startup .features p {
    color: #98abbb;
}

.basic .top figure {
    background-color: #16cb88;
}
.startup .top figure {
    background-color: tomato;

}


.enterprise .top figure {
    background-color: #302cf5;
}
